@model IEnumerable<Common.Data.Models.EmployeeModel>

@{
    ViewData["Title"] = "Employee List";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">


<div class="row mt-3">
    <div class="col-md-6 ">
        <h6 class="font-weight-bolder v-color">@ViewData["Title"]</h6>
    </div>
    <div class="col-md-6  text-end">
        <a href="~/Admin/employee/add" class="btn btn-sm m-0 btn-success">
            <i class="fa fa-plus me-2 text-xs"></i>
            Add New
        </a>
    </div>
</div>



<div class="card  rounded-2 mt-2">
    <div class="card-body p-2">
        <div class="table-responsive">
            <table id="example" class="table table-sm table-striped table-hover mb-0 dt-responsive nowrap w-100 small align-middle">
                <thead class="table-light">
                    <tr>
                        <th class="px-2 py-1 text-center">No.</th>
                        <th class="px-2 py-1">Name</th>
                        <th class="px-2 py-1">User ID</th>
                        <th class="px-2 py-1">Gender</th>
                        <th class="px-2 py-1">Mobile</th>
                        <th class="px-2 py-1">State</th>
                        <th class="px-2 py-1">City</th>
                        <th class="px-2 py-1 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="px-2 py-1 text-center">@item.Id</td>
                            <td class="px-2 py-1">@item.Name</td>
                            <td class="px-2 py-1">@item.UserId</td>
                            <td class="px-2 py-1">@item.Gender</td>
                            <td class="px-2 py-1">@item.Mobile</td>
                            <td class="px-2 py-1">@item.State</td>
                            <td class="px-2 py-1">@item.City</td>
                            <td class="px-2 py-1 text-center">
                                <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-dark me-1 m-0 px-2 py-1" title="View Details">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a asp-controller="Employee" asp-action="Add" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-success 0 px-2 py-1  m-0" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,
                paging: true,
                searching: false,
                ordering: false,
                info: true,
                lengthChange: false,
                autoWidth: false
            });
        });
    </script>

}