@model IEnumerable<Users>  

@{
    ViewData["Title"] = "Dashboard";
}

<h6 class="font-weight-bolder va-title v-color">@ViewData["Title"]</h6>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) 
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.AddedOn</td>
                <td>@(user.isActive ? "Active" : "Inactive")</td>
            </tr>      
        }
    </tbody>
</table>
