@model Common.Data.Models.Users;
@{
    ViewData["Title"] = "Update";
}
<h6 class="font-weight-bolder va-title text-primary"><span class="text-dark">Users / </span>Update </h6>

<div class="card m-0">

    <div class="card-body p-0">
        <form role="form" asp-controller="Users" asp-action="UpdateUser">
            <input type="hidden" asp-for="@Model.Id">

            <div class="row">
                <div class="col-4">
                    <div class="card card-plain ">
                        <div class="card-body">
                            <label>Name</label>
                            <div class="mb-2">
                                <input type="text" asp-for="@Model.FullName" class="form-control form-control-sm" placeholder="Full Name" aria-label="Name" aria-describedby="email-addon">
                            </div>
                            <label>Role</label>
                            <div class="mb-2">
                                <select class="form-select form-select-sm" asp-for="@Model.Role" aria-label="Default select example">
                                    <option selected>--select--</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Client</option>
                                    <option value="3">User</option>
                                    <option value="4">Supervisor</option>
                                </select>
                            </div>

                            <div class="my-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Active">
                                    <label class="form-check-label" for="flexCheckDefault"> Active </label>
                                </div>
                            </div>

                            <div class="mt-4">
                                <input type="submit" value="Save" class="btn m-0 bg-success text-white btn-sm">

                                <button onclick="history.back()" class="btn m-0 bg-dark ms-4 text-white btn-sm">
                                    <i class="fa fa-arrow-left text-xs pe-1"></i> Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-plain ">
                        <div class="card-body">
                            <label>Email</label>
                            <div class="mb-2">
                                <input type="text" asp-for="@Model.Email" class="form-control form-control-sm" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                            </div>
                            <label>Password</label>
                            <div class="mb-2">
                                <input type="text" asp-for="@Model.Password" class="form-control form-control-sm" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </form>


    </div>
</div>


